<%- include("metadata") %>
<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            @media (max-width: 450px){
                .col.about-us-col{
                    font-size: 200%;
                }
            }

            .col.about-us-col, .col.donations-col, .col.items-we-accept-col, .col.what-is-needed-col{
                border-style: solid;
                border-color: aquamarine;
                border-radius: 4px;
                padding: 4px;
            }

            h1,h3{
                text-decoration: underline;
            }
        </style>
    </head>
    <body>
        <%- include("searchNavBar") %>
        <div class="container-fluid text-center">
            <div class="row">
                <div class="col"></div>
                <div class="col about-us-col">
                    <h1>About Us</h1>
                    <h3>We'll find a new home for your good condition, reusable items!</h3>
                    <p>
                        We have been doing volunteer donations and pickup for over 20 years... because we care.<br><br>

                        Our commitment is to repurpose your donated furniture and household items to others where most needed within the community.<br><br>
                        
                        Our friendly drivers work hard, but we do ask that you help where able with the heavier items and have the donations ready to go when our volunteers arrive.<br><br>
                        
                        (no stairs please)<br><br>
                        
                        Pickup donation rates apply and will be dependent upon the quantity and size of donated items. We are a non profit group and rely upon your donations to help cover expenses. Household goods as well as monetary donations are all very important to us and the community.<br><br>
                        
                        Please be sure that all donations are clean, in good, reuseable condition (no rips, tears, stains or smoke). Our drivers have the right to refuse any donation deemed unsuitable.
                    </p>
                </div>
                <div class="col"></div>
            </div>
            <div class="row"><br></div>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col donations-col">
                    <h3>DONATIONS GO TO</h3>
                    Food banks, women's shelters, transition houses, drop in centres, local thrift shops, pet spay & neuter, emergency needs & more.  Your donations will also be made available to those in need through our referral program.
                </div>
                <div class="col-sm-1">|<br>|<br>|<br>|<br>|<br>|<br>|<br>|<br>|<br>|<br>|<br>|<br>|<br>|<br>|</div>
                <div class="col items-we-accept-col">
                    <h3>ITEMS WE ACCEPT</h3>
                    Furniture, Clothing, Household items, Kitchenware, Bedding, Linens, Towels,  China, Dishes, Cookware, Small appliances, Tools,  Books, Baby items,  Food items (if unopened and within date)<br>

                    Pop cans & bottles (for recycle), unused gift cards, Canadian Tire money<br>

                    Donate items when moving or during estate dispersal.<br>

                    If you are unsure, just ask! It's the thought that counts.
                </div>
                <div class="col-sm-1">|<br>|<br>|<br>|<br>|<br>|<br>|<br>|<br>|<br>|<br>|<br>|<br>|<br>|<br>|</div>
                <div class="col what-is-needed-col">
                    <h3>WHAT IS NEEDED TO HELP</h3>
                    We accept most items that would help to make a house a home...as long as they are in good, clean and near new condition.<br>

                    If you have good, reuseable items to share, we can always put them to good use.
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
    </body>
    <%- include("footer") %>
</html>