<%- include("metadata") %>
<html lang="en">
    <%- include("searchNavBar", {isLoggedIn: false}) %>
    <body>
        <div class="container">
            <div class="row g-5">
                <div class="col-md-8 border">
                    <h1>Products</h1>
                    <br>

                    <!-- TODO: Wrap this into a javascript EJS template-->
                    <div class="g-1 row shadow-sm bg-light text-dark border">
                        <div class="row d-flex align-items-center col-md-8">
                            <div class="card shadow-sm col-sm-5 border">
                                <img class="card-img-med"
                                     width="200rem"
                                     height="125rem"
                                     src="https://www.azierestaurant.ca/wp-content/uploads/2024/01/jordan-sneakers-794oni-1.jpg"
                                     alt="">
                            </div>
                            <div class="col-sm-5">
                                <h2>Jordan Sneakers</h2>
                                <small class="text-secondary">Move fast with the new Jordan Sneakers!</small>
                            </div>

                        </div>
                        <div class="d-flex align-items-center justify-content-end col-md-4">
                            <h3>$199.99<small class="text-secondary"> CAN</small></h3>
                        </div>
                    </div>
                    <br>
                    <div class="g-1 row shadow-sm bg-light text-dark border">
                        <div class="row d-flex align-items-center col-md-8">
                            <div class="card shadow-sm col-sm-5 border">
                                <img class="card-img-med"
                                     width="200rem"
                                     height="125rem"
                                     src="https://www.azierestaurant.ca/wp-content/uploads/2024/01/jordan-sneakers-794oni-1.jpg"
                                     alt="">
                            </div>
                            <div class="col-sm-5">
                                <h2>Jordan Sneakers</h2>
                                <small class="text-secondary">Move fast with the new Jordan Sneakers!</small>
                            </div>

                        </div>
                        <div class="d-flex align-items-center justify-content-end col-md-4">
                            <h3>$199.99<small class="text-secondary"> CAN</small></h3>
                        </div>
                    </div>
                    <br>
                    <div class="g-1 row shadow-sm bg-light text-dark border">
                        <div class="row d-flex align-items-center col-md-8">
                            <div class="card shadow-sm col-sm-5 border">
                                <img class="card-img-med"
                                     width="200rem"
                                     height="125rem"
                                     src="https://www.azierestaurant.ca/wp-content/uploads/2024/01/jordan-sneakers-794oni-1.jpg"
                                     alt="">
                            </div>
                            <div class="col-sm-5">
                                <h2>Jordan Sneakers</h2>
                                <small class="text-secondary">Move fast with the new Jordan Sneakers!</small>
                            </div>

                        </div>
                        <div class="d-flex align-items-center justify-content-end col-md-4">
                            <h3>$199.99<small class="text-secondary"> CAN</small></h3>
                        </div>
                    </div>
                    <br>
                    <div class="g-1 row shadow-sm bg-light text-dark border">
                        <div class="row d-flex align-items-center col-md-8">
                            <div class="card shadow-sm col-sm-5 border">
                                <img class="card-img-med"
                                     width="200rem"
                                     height="125rem"
                                     src="https://www.azierestaurant.ca/wp-content/uploads/2024/01/jordan-sneakers-794oni-1.jpg"
                                     alt="">
                            </div>
                            <div class="col-sm-5">
                                <h2>Jordan Sneakers</h2>
                                <small class="text-secondary">Move fast with the new Jordan Sneakers!</small>
                            </div>

                        </div>
                        <div class="d-flex align-items-center justify-content-end col-md-4">
                            <h3>$199.99<small class="text-secondary"> CAN</small></h3>
                        </div>
                    </div>
                    <br>
                    <div class="g-1 row shadow-sm bg-light text-dark border">
                        <div class="row d-flex align-items-center col-md-8">
                            <div class="card shadow-sm col-sm-5 border">
                                <img class="card-img-med"
                                     width="200rem"
                                     height="125rem"
                                     src="https://www.azierestaurant.ca/wp-content/uploads/2024/01/jordan-sneakers-794oni-1.jpg"
                                     alt="">
                            </div>
                            <div class="col-sm-5">
                                <h2>Jordan Sneakers</h2>
                                <small class="text-secondary">Move fast with the new Jordan Sneakers!</small>
                            </div>

                        </div>
                        <div class="d-flex align-items-center justify-content-end col-md-4">
                            <h3>$199.99<small class="text-secondary"> CAN</small></h3>
                        </div>
                    </div>
                    <br>
                    <div class="g-1 row shadow-sm bg-light text-dark border">
                        <div class="row d-flex align-items-center col-md-8">
                            <div class="card shadow-sm col-sm-5 border">
                                <img class="card-img-med"
                                     width="200rem"
                                     height="125rem"
                                     src="https://www.azierestaurant.ca/wp-content/uploads/2024/01/jordan-sneakers-794oni-1.jpg"
                                     alt="">
                            </div>
                            <div class="col-sm-5">
                                <h2>Jordan Sneakers</h2>
                                <small class="text-secondary">Move fast with the new Jordan Sneakers!</small>
                            </div>

                        </div>
                        <div class="d-flex align-items-center justify-content-end col-md-4">
                            <h3>$199.99<small class="text-secondary"> CAN</small></h3>
                        </div>
                    </div>
                    <br>
                    <div class="g-1 row shadow-sm bg-light text-dark border">
                        <div class="row d-flex align-items-center col-md-8">
                            <div class="card shadow-sm col-sm-5 border">
                                <img class="card-img-med"
                                     width="200rem"
                                     height="125rem"
                                     src="https://www.azierestaurant.ca/wp-content/uploads/2024/01/jordan-sneakers-794oni-1.jpg"
                                     alt="">
                            </div>
                            <div class="col-sm-5">
                                <h2>Jordan Sneakers</h2>
                                <small class="text-secondary">Move fast with the new Jordan Sneakers!</small>
                            </div>

                        </div>
                        <div class="d-flex align-items-center justify-content-end col-md-4">
                            <h3>$199.99<small class="text-secondary"> CAN</small></h3>
                        </div>
                    </div>
                    <br>

                </div>
                <div class="col-md-5 col-lg-4">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-primary">Your cart</span>
                        <span class="badge bg-primary rounded-pill">3</span>
                    </h4>
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between lh-sm">
                            <div>
                                <h6 class="my-0">Product name</h6>
                                <small class="text-body-secondary">Brief description</small>
                            </div>
                            <span class="text-body-secondary">$12</span>
                        </li>

                        <li class="list-group-item d-flex justify-content-between bg-body-tertiary">
                            <div class="text-success">
                                <h6 class="my-0">Promo code</h6>
                                <small>EXAMPLECODE</small>
                            </div>
                            <span class="text-success">−$5</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            <span>Total (CAN)</span>
                            <strong>$1400</strong>
                        </li>
                    </ul>

                    <form class="card p-2">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Promo code">
                            <button type="submit" class="btn btn-secondary">Redeem</button>
                        </div>
                    </form>

                    <!-- TODO: Alex, you might need to change this into a POST method for this (due to the backend stuff)-->
                    <form class="card p-2" method="GET" action="/checkout">
                            <button type="submit" class="btn btn-primary">Continue</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>