<footer class="container-fluid">
    <style>
        body {
            min-height: 100vh;
            position: relative;
            padding-bottom: 125px;
        }

        footer {
            position: absolute;
            bottom: 0;
        }
        .text {
            color: white;
        }
        .fa-brands.fa-x-twitter, .fa-brands.fa-instagram, .fa-brands.fa-linkedin-in, .fa-brands.fa-facebook, .fa-brands.fa-youtube{
            font-size: 1.7em;
            padding: 3px;
        }
        .fa-brands.fa-x-twitter{
            color: black;
        }
        .fa-brands.fa-instagram{
            color:#e897df;
        }
        .fa-brands.fa-linkedin-in{
            color: white
        }
        .fa-brands.fa-facebook{
            color: #1877F2;
        }
        .fa-brands.fa-youtube{
            color: #FF0101
        }
    </style>
    <div class="row"><p></p></div>
    <div class="row" style="background-color: #84A49A;">
        <div class="col">
            <a href="https://www.youtube.com/watch?v=VViNk4o9RDQ">I don't know what to put here, so have a secret link</a>
        </div>
        <div class="col text-center text">
            Want to recieve email updates about the Give & Share Society?
            <label for="emailIn">Enter your email here:</label>
            <input type="email" id="emailIn">
            <button type="button" class="btn btn-primary">Register</button>
        </div>
        <div class="col text-center text">
            Social Media<br>
            <a href="https://www.twitter.com/" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
            <a href= "https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.youtube.com/@MultiGamerGaming" target="_blank"><i class="fa-brands fa-youtube"></i></a>
        </div>
    </div>
</footer>