<head>
    <script src="https://kit.fontawesome.com/ab5a40e500.js" crossorigin="anonymous"></script>
</head>
<footer class="container-fluid">
    <style type="text/css">
        body {
            min-height: 100vh;
            position: relative;
            padding-bottom: 145px;
        }

        footer {
            position: absolute;
            bottom: 0;
        }
        
        #mc_embed_signup {
            background:#fff;
            clear:left;
            font:14px Helvetica,Arial,sans-serif;
            width: 470px;
            color: black;
        }

        .text {
            color: white;
        }

        .tos-text {
            font-size: 10pt;
        }

        .fa-brands.fa-x-twitter, .fa-brands.fa-instagram, .fa-brands.fa-linkedin-in, .fa-brands.fa-facebook, .fa-brands.fa-youtube{
            font-size: 1.7em;
            padding: 3px;
        }

        .fa-brands.fa-x-twitter{
            color: black;
        }

        .fa-brands.fa-instagram{
            color:#e897df;
        }

        .fa-brands.fa-linkedin-in{
            color: white
        }

        .fa-brands.fa-facebook{
            color: #1877F2;
        }

        .fa-brands.fa-youtube{
            color: #FF0101
        }

        .btn-smaller {
            padding: 5px 12px; /* Adjust padding for a smaller button */
            padding-bottom: 4px;
            font-size: 0.8em;  /* Adjust font size for a smaller button */
            width: auto;    
        }

        @media (max-width: 509px) {
            body {
                padding-bottom: 250px;
            }

            #mc_embed_signup {
                width: 89vw;
            }

            #mce_EMAIL {
                width: 77vw;
            }
        }

        @media (min-width: 509px) {
            @media (max-width: 576px) {
                body {
                    padding-bottom: 210px;
                }

                #mc_embed_signup {
                    width: 78vw;
                }

                #mce_EMAIL {
                    width: 67vw;
                }
            }
        }

        @media (min-width: 576px) {
            @media (max-width: 690px) {
                body {
                    padding-bottom: 250px;
                }
            }
        }
    </style>
    <div class="row"><p></p></div>
    <div class="row" style="background-color: #84A49A;">
        <div class="col d-flex align-items-end">
            <span class="tos-text"><a href="https://www.youtube.com/watch?v=VViNk4o9RDQ">Terms of service</a>, Copyright GiveShare 2024</span>
        </div>
        <div class="col text">
            <div id="mc_embed_shell">
                <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
                <div id="mc_embed_signup">
                    <form action="https://gmail.us17.list-manage.com/subscribe/post?u=8998d074c48d4f0464e383abc&amp;id=b35b4a780a&amp;f_id=00c7fae2f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                        <div id="mc_embed_signup_scroll"><span style="font-size: large; font-weight: bold;">Subscribe to Our Mailing List</span>
                            <div class="mc-field-group" style="padding-bottom: 5px;"><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="" placeholder="Email Address"></div>
                        <div id="mce-responses" class="clear foot">
                            <div class="response" id="mce-error-response" style="display: none;"></div>
                            <div class="response" id="mce-success-response" style="display: none;"></div>
                        </div>
                    <div aria-hidden="true" style="position: absolute; left: -5000px;">
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups -->
                        <input type="text" name="b_8998d074c48d4f0464e383abc_b35b4a780a" tabindex="-1" value="">
                    </div>
                        <div class="optionalParent">
                            <div class="clear foot">
                                <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                                <p style="margin: 0px auto;"><a href="http://eepurl.com/iP8oac" title="Mailchimp - email marketing made easy and fun"><span style="display: inline-block; background-color: transparent; border-radius: 4px;"><img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 165px; height: 30px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a></p>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-center justify-content-center text">
            <div class="text-center">
                <p>Social Media</p>
                <a href="https://www.twitter.com/" target="_blank" title="Twitter"><i class="fa-brands fa-x-twitter"></i></a>
                <a href= "https://www.instagram.com/" target="_blank" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.linkedin.com/" target="_blank" title="LinkedIn"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="https://www.facebook.com/" target="_blank" title="Facebook"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.youtube.com/@MultiGamerGaming" target="_blank" title="Youtube"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>