<%- include("metadata") %>
<!DOCTYPE html>
<html lang="en">
<body class="p-3 m-0 border-0 bd-example m-0 border-0">
  <br><br><br><br>
  <div class="passwordReset-container">
      <form action="/reset/<%= token %>" method="POST">
          <input type="password" name="password" id="password" placeholder="New Password">
          <br><br>
          <button type="submit">Reset Password</button>
        </form>
  </div>
</body>
</html>