<%- include("metadata") %>
<%- include("searchNavBar") %>

<!DOCTYPE html>
<html>
<head>
    <title>Password Updated</title>
</head>

<body>

    <div class="container">

        <div class="card">

            <div class="card-header">

                <h2>Password Updated</h2>

            </div>

            <div class="card-body">

                <p>Your password has been updated successfully.</p>

                <a href="/manage" class="btn btn-primary">Admin Dashboard</a>

                <a href="/settings" class="btn btn-primary">Settings</a>

            </div>

        </div>

    </div>
</html>