
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<style>
    .website-logo {
        width: 9.5vw;
        height: auto;
    }

    .bi {
        width: 20px;
        height: 20px;
    }

    .big-text {
        font-size: 24pt;
        font-weight: 600;
    }

    .medium-text {
        font-size: 14pt;
    }

    .small-text {
        font-size: 10pt;
    }

    .dropdown-item {
        font-size: 12pt;
    }

    @media only screen and (min-width: 576px) and (max-width: 767px) {
        .bi {
            width: 24px;
            height: 24px;
        }

        .right-side-item {
            margin-top: 3vh;
        }

        .big-text {
            font-size: 22pt;
        }

        .medium-text {
            font-size: 16pt;
        }

        .small-text {
            font-size: 12pt;
        }

        .list1 {
            font-size: 12pt;
        }

        .website-logo {
            width: 12.5vw;
        }
    }

    @media only screen and (max-width: 576px) {
        .bi {
            width: 24px;
            height: 24px;
        }

        .right-side-item {
            margin-top: 3vh;
        }

        .big-text {
            font-size: 24pt;
        }

        .medium-text {
            font-size: 16pt;
        }

        .small-text {
            font-size: 10pt;
        }

        .list1 {
            font-size: 12pt;
        }

        .website-logo {
            width: 18vw;
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        header {
            max-width: calc(100vw - 24px);
        }
    }
</style>
<body>
    <header class="py-3 mb-3 border-bottom">
        <div class="container-fluid gap-3 align-items-center">
            <div class="row">
                <div class="col-sm-3">
                    <a href="/filter/clear" class="w-auto d-flex align-items-center justify-content-center mt-1 link-body-emphasis text-decoration-none">
                        <div class="col-md-4">
                            <img src="/img/landingPage/vintage_garage_logo.png" class="website-logo">
                        </div>
                        <div class="col-md-8">

                            <span class="big-text">The Vintage Garage</span><br>
                            <span class="text-secondary small-text">by The Give and Share Society</span>
                        </div>
                    </a>
                </div>

                <div class="col-sm-6 d-flex align-items-center justify-content-center">

                    <form id="searchBar" method="post" class="w-75" role="search"
                        onsubmit="this.action = `/filter/keyword=${document.getElementById('searchInput').value}`;">
                        <input id="searchInput" type="search" class="form-control medium-text"
                            placeholder="Search..." aria-label="Search"
                            value="<% if (locals.keyword) {%><%= locals.keyword %><% }%>">
                        <!-- value is the current search prompt-->
                    </form>
                </div>

                <div class="col-sm-3 d-flex align-items-center justify-content-center container-fluid">
                    <div class="row">
                        <div class="col-6">
                            <a href="/about" class="d-block link-body-emphasis text-decoration-none medium-text right-side-item">
                                About Us
                            </a>
                        </div>
                        <div class="d-none d-sm-block d-md-none"></div>
                        <!-- In searchNavBar.ejs -->
                        <div class="col-3">
                            <a href="/cart" class="d-block link-body-emphasis text-decoration-none right-side-item">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor" class="bi bi-cart"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                                </svg>
                                <span class="badge bg-primary rounded-pill"
                                    id="cart-item-count"><%= cartItemCount
                                    %></span>
                            </a>
                        </div>
                        <div class="d-none d-sm-block d-md-none"></div>
                        <!--The next div should only be shown if the user is logged in, if they arent then it should be an admin sign in button-->
                        <div class="col-3" id="userProfile">
                            <% if (isLoggedIn) { %>
                            <div class="flex-shrink-0 dropdown">
                                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle right-side-item"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <span class="material-symbols-outlined">
                                        person
                                    </span>
                                </a>
                                <ul class="dropdown-menu text-small shadow">
                                    <% if (isAdmin) { %>
                                    <li>
                                        <a class="dropdown-item"
                                            href="/admin/manage">Dashboard
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item"
                                            href="/settings">Settings
                                        </a>
                                    </li>

                                    <% } else { %>
                                    <li><a class="dropdown-item"
                                            href="/admin/manageUser">Dashboard</a></li>
                                    <% } %>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item"
                                            href="/signout">Sign out</a></li>
                                </ul>
                            </div>
                            <% } else { %>
                            <a href="/loginPortal"
                                style="text-decoration: none; color: black">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor"
                                    class="bi bi-person-circle"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                    <path fill-rule="evenodd"
                                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                                </svg>
                            </a>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>
</body>
