<%- include("metadata") %>
<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            
            .item {
                padding: 10px;
                border-bottom: 1px solid #ccc;
                
            }

            .item a {
                text-decoration: none;
                color: #333;
            }

            .item :hover {
                padding: 10px;
                background-color: #007bff;
                color: white;
            }

        </style>
    </head>
    <body>
        <%- include("searchNavBar") %>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <ul class="nav flex-column">
                        <li class="item nav-item"><a href="#" onclick="loadContent('mailingList')">Mailing Preferences</a></li>
                        <li class="item nav-item"><a href="#adminUsers" onclick="loadContent('adminUsers')">Past Orders</a></li>
                    </ul>
                </div>
                <div class="col-md-9" id="contentArea">
                    <!-- dynamic content will load here -->
                </div>
            </div>
        </div>
    </body>

    <script>
        function loadContent(contentType) {
            const contentUrl = `/${contentType}`; // this will be the URL of the content to load
            fetch(contentUrl)
                .then(response => response.text())
                .then(html => {
                    document.getElementById('contentArea').innerHTML = html;
                })
                .catch(error => console.error('Failed to load the content:', error));
        }

    </script>
</html>