<div class="card border-0 text-center" style="width: 18rem;">
    <a href="/<%= link %>" style="text-decoration: none; color: black">
        <img class="card-img-top" src="/img/landingPage/collection/<%= imgSource %>">
        <div class="card-body">
            <p><%= title%></p>
        </div>
    </a>
</div>